{{ attach_library('handyphrases_rating/vote') }}

<h3>{{ translation }}</h3>
<div id="translation-{{ nid }}-vote-count">{{ votes }}</div>
<a href="/handyphrases_rating/upvote/{{ nid }}/nojs" class="translation-upvote use-ajax">Up Vote</a>
<a href="/handyphrases_rating/downvote/{{ nid }}/nojs" class="translation-downvote use-ajax">Down Vote</a>

